@charset "UTF-8";
/* GENERAL SETTINGS */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  overflow-x: hidden;
  transition: 350ms ease-in-out;
}
body img {
  object-fit: cover;
}
body a {
  text-decoration: none;
  color: inherit;
}
body li {
  list-style: none;
}

/* GENERAL TYPOGRAPHY */
body {
  font-family: Roboto, sans-serif;
}

input, h3 {
  font-weight: 500;
  font-size: 16px;
  color: #3F3F3F;
}

/* BUTTONS */
.btn {
  height: 50px;
  padding: 16px 21px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 25px;
  border: none;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  cursor: pointer;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
}
.btn:active {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
  background: linear-gradient(175deg, #ff88de, #9b63df);
}
@media all and (min-width: 992px) {
  .btn:hover {
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
    background: linear-gradient(175deg, #ff88de, #9b63df);
  }
}

.order-btn {
  width: 185px;
  margin-top: 10px;
  font-size: 15px;
}

.fa-heart {
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 100% 200%;
  background-position: top;
}

.fa-heart-white {
  background-image: linear-gradient(to bottom, white 50%, #9356DC 50%, #FF79DA);
}

.likebox {
  display: none;
}
.likebox:checked ~ .fa-heart-white {
  color: transparent;
  font-weight: 900;
  animation: 1250ms ease-out forwards fill-heart;
}

.fa-heart-grey {
  background-image: linear-gradient(to bottom, #F6F6F7 50%, #9356DC 50%, #FF79DA);
}

.heartbox {
  display: none;
}
.heartbox:checked ~ .fa-heart-grey {
  color: transparent;
  font-weight: 900;
  animation: 1250ms ease-out forwards fill-heart;
}

@keyframes fill-heart {
  from {
    background-position: top;
  }
  to {
    background-position: bottom;
  }
}
/* CARDS DISH-MENU Restaurant-pages */
.dish-menu {
  width: 100%;
  margin-bottom: 40px;
  color: #3F3F3F;
  box-sizing: border-box;
}
.dish-menu h2 {
  margin: 0 0 21px 10px;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
}
.dish-menu h2:after {
  content: "";
  width: 40px;
  height: 1px;
  position: absolute;
  bottom: -7px;
  left: 0;
  border-bottom: 3px solid #99E2D0;
}

.dish-card-container {
  display: flex;
  width: 100%;
  margin-top: 17px;
  background-color: white;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
}

.dish-card {
  display: flex;
  flex-direction: column;
  flex: 2 3;
  padding: 11px 20px 8px 10px;
  box-sizing: border-box;
  transition: width 500ms ease-in-out;
}
.dish-card h3 {
  flex-shrink: 3;
  margin: 0 40px 5px 0;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.dish-card .dish-card-text {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-shrink: 3;
}
.dish-card p {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
  box-sizing: border-box;
}
.dish-card .dish-description {
  flex-shrink: 3;
  max-width: 85%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.dish-card .price {
  font-weight: 600;
  margin-left: 25px;
  flex-shrink: 0;
}
@media all and (max-width: 385px) {
  .dish-card .price1 {
    margin-left: 0;
  }
}

/* MENU-PROGRESSIVE-APPEARANCE */
.dish-card-container {
  animation: 1500ms 3000ms ease-in-out both progressive-appearance;
}
.dish-card-container:first-of-type {
  animation-delay: 250ms;
}
.dish-card-container:nth-of-type(2) {
  animation-delay: 500ms;
}
.dish-card-container:nth-of-type(3) {
  animation-delay: 750ms;
}
.dish-card-container:nth-of-type(4) {
  animation-delay: 1000ms;
}

@keyframes progressive-appearance {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* CHECK ON PLATES */
.check-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 68.1px;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  flex-shrink: 0;
  transition: width 500ms;
}
.check-container i {
  color: transparent;
  font-size: 22px;
  padding: 0;
  transition: transform 500ms;
}

.dish-card-container:active > .check-container {
  width: 17%;
}

.dish-card-container:active > .check-container i {
  color: white;
  transform: rotate(360deg);
}

.dish-card-container:active > .dish-card {
  width: 83%;
}

/* RESTAURANT INFO CARD - Home page*/
.restaurant-card {
  height: 250px;
  width: 100%;
  max-width: 430px;
  margin: 0 auto 20px auto;
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;
  transition: transform 250ms ease-in-out;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
}
@media all and (min-width: 599px) {
  .restaurant-card {
    margin-top: 15px;
    min-width: 300px;
    max-width: 350px;
  }
}
@media all and (min-width: 992px) {
  .restaurant-card {
    min-width: 430px;
  }
  .restaurant-card:hover {
    box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
  }
}

.restaurant-img-container {
  position: relative;
  height: 172px;
}
.restaurant-img-container img {
  height: 100%;
  width: 100%;
  object-position: bottom;
  border-radius: 15px 15px 0 0;
}
.restaurant-img-container .second-image {
  object-position: 50% 62%;
}
.restaurant-img-container .new {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 500;
  color: #2c9c81;
  background-color: #99E2D0;
  border-radius: 2px;
}

.restaurant-content {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 0 10px 5px 10px;
  border-radius: 0 0 15px 15px;
}
.restaurant-content h3 {
  margin: 17px 0 5px 0;
  font-size: 18px;
  font-weight: 700;
}
.restaurant-content p {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
}
.restaurant-content i {
  padding: 20px 15px;
  font-size: 24px;
  color: #3F3F3F;
}
.restaurant-content a {
  width: 80%;
}

/* Home-page HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 53px;
  /*width:100%;*/
  margin-bottom: 4px;
  padding-top: 9px;
  background-color: white;
  box-shadow: 1px 0 6px 4px rgba(0, 0, 0, 0.2);
}
header img {
  height: 28px;
}

/* Restaurant-page HEADER */
.restaurant-header {
  box-shadow: none;
  justify-content: space-between;
  /* élément invisible afin de placer l'icone et le logo correctement */
}
@media all and (min-width: 599px) {
  .restaurant-header {
    justify-content: space-around;
  }
  .restaurant-header i {
    margin: 0;
  }
}
.restaurant-header i {
  margin-left: 25px;
  font-size: 20px;
  color: #3F3F3F;
}
.restaurant-header .invisible {
  color: transparent;
  margin: 0 25px 0 0;
}

/* FOOTER SETTINGS*/
footer {
  box-sizing: border-box;
  padding: 8px 25px 20px 25px;
  background-color: #343535;
  color: white;
}
footer h2 {
  font-family: Shrikhand, serif;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 0.05em;
}
footer ul {
  padding: 0;
}
footer li {
  margin-bottom: 8px;
}
footer i {
  margin-right: 8px;
  font-size: 13px;
}
@media all and (min-width: 599px) {
  footer {
    padding: 25px 5% 40px;
  }
}

/*LOADER*/
.loader-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: white;
  animation: close 750ms ease-in-out 2000ms forwards;
}
.loader-overlay .loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-overlay img {
  height: 40px;
  margin-top: 20px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 0 20px;
}
@media all and (min-width: 599px) {
  .circle {
    height: 75px;
    width: 75px;
    border-radius: 50px;
  }
}
.circle i {
  color: white;
}
@media all and (min-width: 599px) {
  .circle i {
    font-size: 26px;
  }
}

.circle1 {
  background-color: #9356DC;
  animation: 500ms 4 slideleft;
}

.circle2 {
  background-color: #FF79DA;
  animation: 500ms 250ms 4 turn;
}

.circle3 {
  background-color: #99E2D0;
  animation: 500ms 4 slideright;
}

@keyframes slideleft {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes slideright {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes turn {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes close {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2000px);
  }
}
/* HERO-SECTION - location-form */
.location-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding-bottom: 5px;
  background-color: #EAEAEB;
  color: #3F3F3F;
}
.location-form input {
  width: 150px;
  border: none;
  background-color: #EAEAEB;
}
.location-form i {
  margin-right: 15px;
}

/*HERO-SECTION - content*/
.hero-section-content {
  text-align: center;
  height: 100%;
  padding: 40px 0 70px 0;
  background-color: #F6F6F7;
  box-sizing: border-box;
}
.hero-section-content h1 {
  padding: 0 18.5% 10px;
  margin: 0;
}
.hero-section-content p {
  padding: 0 9% 46px;
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  color: #3F3F3F;
}

/* USE-SECTION*/
.use-section {
  margin: 45px 5% 65px 8%;
}
.use-section h2 {
  margin: 0 0 10px -12px;
}
@media all and (min-width: 599px) {
  .use-section {
    margin: 0;
    padding: 45px 5% 70px;
  }
  .use-section h2 {
    margin-left: 0;
  }
  .use-section .use-section-steps-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 30px;
  }
}

.use-section-steps {
  display: flex;
  align-items: center;
  height: 75px;
  margin-top: 25px;
  background-color: #F6F6F7;
  border-radius: 20px;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
}
.use-section-steps p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin: 0 0 0 -12px;
  color: white;
  background-color: #9356DC;
  border-radius: 25px;
}
.use-section-steps i {
  margin: 0 25px;
  font-size: 20px;
  color: #7E7E7E;
}
.use-section-steps:active {
  background: #f2eafb;
}
.use-section-steps:active > i {
  color: #9356DC;
}
@media all and (min-width: 599px) {
  .use-section-steps {
    min-width: 310px;
  }
}
@media all and (min-width: 992px) {
  .use-section-steps:hover {
    background: #f2eafb;
  }
  .use-section-steps:hover > i {
    color: #9356DC;
  }
}

/*RESTAURANT-SECTION - home page*/
.restaurant-section {
  padding: 50px 5% 45px;
  background-color: #F6F6F7;
}
.restaurant-section h2 {
  margin: 0 0 20px 0;
}

.restaurant-cards-container {
  width: 100%;
}
@media all and (min-width: 599px) {
  .restaurant-cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media all and (min-width: 992px) {
  .restaurant-cards-container {
    gap: 35px;
  }
}

/* RESTAURANT MAIN IMG - restaurant page*/
.img-section img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}
@media all and (min-width: 599px) {
  .img-section img {
    object-position: 50% 70%;
  }
}
@media all and (min-width: 992px) {
  .img-section img {
    object-position: 50% 65%;
  }
}

/* RESTAURANT MENU SECTION - restaurant page*/
.restaurant-menu-section {
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  margin-top: -57px;
  padding: 10px 15px 65px 12px;
  border-radius: 30px 30px 0 0;
  background-color: #F6F6F7;
}
.restaurant-menu-section h1 {
  font-family: Shrikhand, serif;
  font-size: 27px;
  padding-left: 10px;
  margin-bottom: 30px;
}
.restaurant-menu-section .restaurant-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant-menu-section .restaurant-title i {
  font-size: 28px;
  height: 40px;
  color: #3F3F3F;
  align-self: center;
  padding-right: 20px;
}
@media all and (min-width: 599px) {
  .restaurant-menu-section .restaurant-title {
    margin: 0 5%;
  }
}
@media all and (min-width: 992px) {
  .restaurant-menu-section .restaurant-title {
    margin: 0 12%;
  }
}

.menu-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media all and (min-width: 599px) {
  .menu-cards-container {
    max-width: 550px;
  }
}
@media all and (min-width: 992px) {
  .menu-cards-container {
    max-width: 600px;
  }
}

/*# sourceMappingURL=styles.css.map */
