/* BUTTONS */

.btn {
    height: 50px;
    padding: 0 20px;
    color: $text-color-light;
    font-size: 15px;
    font-weight: 500;
    border-radius: 25px;
    border: none;
    background: linear-gradient(175deg, $secondary-color, $primary-color) ;
    @include shadow;
    cursor: pointer;
}

.order-btn {
    width: 185px;
    margin-top: 10px;
}