/* CARDS DISH-MENU Restaurant-pages */

.dish-menu {
    width: 100%;
    margin-bottom: 40px;
    color: $text-color-dark;
    h2 {
        margin: 0 0 21px 10px;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        position: relative;
        &:after {
            content: '';
            width: 40px;
            height: 1px;
            position: absolute;
            bottom: -7px;
            left: 0;
            border-bottom: 3px solid $tertiary-color;
        }
    }
}

.dish-card {
    margin-top: 17px;
    padding: 12px 20px 12px 10px;
    background-color: $secondary-bg;
    border-radius: 15px;
    @include shadow;
    h3 {
        margin: 0 40px 5px 0;
        font-size: 18px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .dish-card-text {
        display: flex;
        justify-content: space-between;
    }
    p {
        margin: 0;
        font-size: 15px;
        font-weight: 300;
    }
    .dish-description {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .price {
        font-weight: 600;
        margin-left: 25px;
    }
}

/* MENU-PROGRESSIVE-APPEARANCE */

.dish-card {
    animation: 1500ms 3000ms ease-in-out both progressive-appearance;
    &:first-of-type {
        animation-delay: 250ms;
    }
    &:nth-of-type(2) {
        animation-delay: 500ms;
    }
    &:nth-of-type(3) {
        animation-delay: 750ms;
    }
    &:nth-of-type(4) {
        animation-delay: 1000ms;
    }
}

@keyframes progressive-appearance {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}