.fa-heart-white {
    background-clip: text;
    background-image: linear-gradient(to bottom, $secondary-bg 50%, $primary-color 50%, $secondary-color);
    background-size: 100% 200%;
    background-position: top;
    &:active {
        @include heart-effect;
    }
    @include desktops {
        &:hover {
            @include heart-effect;
            }
        }
}

.fa-heart-grey {
    background-clip: text;
    background-image: linear-gradient(to bottom, $primary-bg 50%, $primary-color 50%, $secondary-color);
    background-size: 100% 200%;
    background-position: top;
    @include desktops {
        &:hover {
            @include heart-effect;
        }
    }
}

.heartbox {
    display: none;
    &:checked ~ .fa-heart-grey {
        @include heart-effect;
    }
}

@keyframes fill-heart {
    from {
        background-position: top;
    }

    to {
        background-position: bottom;
    }
}