.fa-heart {
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, transparent 50%, $primary-color 50%, $secondary-color);
}

.heartbox {
    display: none;
    &:checked ~ .fa-heart {
        @include heart-effect;
    }
}

@keyframes fill-heart {
    from {
        background-position: top;
    }
    to {
        background-position: bottom;
    }
}