/*LOADER*/

.loader-overlay {
    @include flex-center;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: $secondary-bg;
    animation: close 750ms ease-in-out 2000ms forwards;
    .loader-wrapper {
        @include flex-center;
    }
    img {
        height: 40px;
        margin-top: 20px;
    }
}

.circle {
    @include flex-center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 0 20px;
    @include tablets {
        height: 75px;
        width: 75px;
        border-radius: 50px;
    }
    i {
        color: $text-color-light;
        @include tablets {
            font-size: 26px;
        }
    }
}

.circle1 {
    background-color: $primary-color;
    animation: 500ms 4 slideleft;
}

.circle2 {
    background-color: $secondary-color;
    animation: 500ms 250ms 4 turn;
}

.circle3 {
    background-color: $tertiary-color;
    animation: 500ms 4 slideright;
}

@keyframes slideleft {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-50px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes slideright {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes turn {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes close {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-2000px);
    }
}