/* GENERAL SETTINGS */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: inherit;
    overflow-x: hidden;
    transition: 350ms ease-in-out;
    img{
        object-fit: cover;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    li {
        list-style:none;
    }
}

