/* HERO-SECTION - location-form */

.location-form {
    @include flex-center;
    height: 40px;
    padding-bottom: 5px;
    background-color: $location-form-bg;
    color: $text-color-dark;
    input {
        width: 150px;
        border: none;
        background-color: $location-form-bg;
        &:focus {
            outline: 2px solid $tertiary-color;
        }
    }
    i {
        margin-right: 15px;
    }
}

/*HERO-SECTION - content*/

.hero-section-content {
    text-align: center;
    height: 100%;
    padding: 40px 0 70px 0;
    background-color: $primary-bg;
    box-sizing: border-box;
    h1 {
        padding: 0 18.5% 10px;
        margin : 0;
    }
    p {
        padding: 0 9% 46px;
        margin: 0;
        font-weight: 300;
        font-size: 18px;
        color: $text-color-dark;
    }
}

/* USE-SECTION*/

.use-section {
    margin: 45px 5% 65px 8%;
    h2 {
        margin: 0 0 10px -12px;
    }
    .use-section-steps-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        column-gap: 30px;
        }
    @include tablets {
        margin: 0;
        padding: 45px 5% 70px;
            h2 {
                margin-left: 0;
            }
    }
}

.use-section-steps {
    display: flex;
    align-items: center;
    min-width : 325px;
    height: 75px;
    margin-top: 25px;
    background-color: $primary-bg;
    border-radius: 20px;
    @include shadow;
    p {
        @include flex-center;
        width: 25px;
        height: 25px;
        margin: 0 0 0 -12px;
        color: $text-color-light;
        background-color: $primary-color;
        border-radius: 25px;
    }
    i {
        margin: 0 25px;
        font-size: 20px;
        color: #7E7E7E;
    }
    &:active {
        @include change-bg-color;
    }
    &:active > i {
        @include change-icon-color;
    }
    @include tablets {
        min-width: 310px;
    }
    @include desktops {
        &:hover {
            @include change-bg-color;
        }
        &:hover > i {
            @include change-icon-color;
        }
    }
}

/*RESTAURANT-SECTION - home page*/

.restaurant-section {
    padding: 50px 5% 45px;
    background-color: $primary-bg;
    h2 {
        margin: 0 0 20px 0;
    }
}
    
.restaurant-cards-container {
    width: 100%;
    @include tablets {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
    }
    @include desktops {
        gap: 35px;
    }
}

