
/* RESTAURANT MAIN IMG - restaurant page*/
.img-section {
    img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    @include tablets {
        object-position: 50% 70%;
    }
    @include desktops {
        object-position: 50% 65%;
    }
    }
}

/* RESTAURANT MENU SECTION - restaurant page*/

.restaurant-menu-section {
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    max-width: 525px;
    margin: -57px auto 0 auto;
    padding: 10px 15px 65px 12px;
    border-radius: 30px 30px 0 0;
    background-color: $primary-bg;
    @include desktops {
        max-width: 700px;
    }
    h1 {
        font-family: $header-font;
        font-size: 27px;
        height: 28px;
        padding-left: 10px;
        margin-bottom: 30px;
    }
    .restaurant-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include desktops {
            max-width: 500px;
            margin: 0 auto;
        }
        i {
            font-size: 28px;
            color: $text-color-dark;
            margin-right: 20px;
            }
    }
}

.menu-cards-container {
    @include flex-center;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    box-sizing: border-box;
}

