@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin shadow {
    box-shadow: 1px 4px 10px  rgba(0, 0, 0, 0.20);
}

@mixin change-bg-color {
    background: lighten($primary-color, 35%);
    
}

@mixin change-icon-color {
    color: $primary-color;
}

@mixin change-shadow {
    box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.20);
}

@mixin scale {
    transform: scale(1.02);
}

@mixin btn-effect {
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
    background: linear-gradient(175deg, $light-secondary, $light-primary);
}

// media queries mixins
@mixin tablets {
    @media all and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin desktops {
    @media all and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}