@mixin shadow {
    box-shadow: 1px 4px 10px  rgba(0, 0, 0, 0.20);
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// media queries mixins
@mixin tablets {
    @media all and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin desktops {
    @media all and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}