/* Home-page HEADER */

header {
    @include flex-center;
    height: 53px;
    width:100%;
    margin-bottom: 4px;
    padding-top: 9px;
    background-color: $secondary-bg;
    box-shadow: 1px 0 5px 4px rgba(0, 0, 0, 0.2);
    img {
        height: 28px;
    }
}

/* Restaurant-page HEADER */

.restaurant-header {
    box-shadow: none;
    justify-content: space-between;
    i {
        margin-left: 25px;
        font-size: 20px;
        color: $text-color-dark;
    }
    .invisible {
        color: transparent;
        margin: 0 25px 0 0;
    }
}